/* accents */
@accent-main: 		#118648;
@accent-sub: 		#064771;
@accent-alt: 		#f58220;
@block-accent: 		#f58220; //btn accent,thead,etc.
@block-accent-text: lighten(@block-accent,30%);
@slogan-bg: 		@accent-main;
@slogan-text:		#ffffff;

/* colors */
@bg-light: 			#ffffff;
@bg-darker: 		#f5f4f5;
@bg-darkest: 		#595959; //footer,dropdown
@block-normal:		#ebe9eb; //btn default,etc.

/* general text */
@text-color: 		#7c7c7c;
@text-light: 		#ffffff;
@text-link: 		@accent-sub;
@text-nav: 			@text-light;
@text-footer:		#979498;
@text-header-light: #cccccc;
@topnav-text-hover:	#f58220;


/* sizing */
@nav-size: 			70px;
@nav-size-small: 	50px;
@spacing-large: 	70px;
@spacing-small: 	50px;

/* other */
@font-family: 		'Roboto', sans-serif;
@hero-img: 			url('img/kitchen-green-2.jpg');
@hero-img-position:	center center; //vertical horizontal