<main>
    <div class="container">
        <h1>Hey, I'm Judit!</h1>
        <p>Design-forward frontend developer.</p>
        <p>
            I hold a BA in studio arts with a concentration in graphic design.
            However while at school I became very interested in web development and
            self-taught the basics of HTML, CSS, and JavaScript. Out of school, I
            was hired on as a graphic designer at a tiny startup, where after having
            mentioned that I know a little bit of code, was put in charge of
            designing and developing the frontend of the company website. I haven't
            left the development world since.
        </p>
        <p>
            Now, with over 12 years of design and development experience under my
            belt, I'm very comfortable being the bridge between the two worlds.
        </p>

        <h2>Design background</h2>
        <p>
            I've used Photoshop since I figured out how to work a computer (trust
            me, that was a very long time ago). I picked up Illustrator in college.
            Then in recent years, I transitioned over to the Affinity suite to see
            what the competition was like. I've worked heavily with Sketch App for 5
            or so years during my last employment, so I'm very familiar with a wide
            variety of tools.
        </p>
        <p>
            I've done logo work, shirt designs, website layouts, and packaging
            designs. I enjoy drawing, sculpting, and picking up the occasional new
            crafty hobby (lately it's crochet) in my free time.
        </p>

        <h2>Frontend developer</h2>
        <p>
            I live and breath HTML, and CSS with all its frameworks. I've used both
            LESS and SCSS, but CSS all on its own, as well. And, through work I've
            been very familiar with Bootstrap since version 3.
        </p>
        <p>
            In the last three years, as I transitioned into a full-fledged frontend
            developer, I have worked with modern Angular, using TypeScript, and
            written unit tests in Jasmine to go along with it. I'm also familiar
            with AngularJS, as this was the main framework used as my previous job.
            I was part of the team to port the old project over to Angular 14.
        </p>

        <h2>Work environment</h2>
        <p>
            I've been working in an angile environment, using scrum practices to
            collaborate with my team members. I'm familiar with both GitLab and
            GitHub for code management, and peer reviews.
        </p>
        <p>
            I am very work-focused and do really well working in a remote position.
        </p>
    </div>
</main>