$sidebar-width: 300px;

$primary: #d9696b;
$body-bg: #f9f9f9;
$body-color: #615c5c;

$white: #ffffff;
$light: #e8e8e8;
$dark: #d7d3d3;

$text-muted: #908787;

$border: $primary;

$fw-regular: 300;
$fw-bold: 400;

$transition-length: 0.5s;
$border: 2px solid $light;

$page-top: 4rem;

$radius-sm: 3px;
$radius-lg: 8px;

$screen-size-lg: 1000px;