<section>
    <app-site-nav></app-site-nav>

    <div>
        <aside class="contact">
            <a href="https://www.linkedin.com/in/judit-lukacsovich/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/juditdidit" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="mailto:hello@juditdidit.com">
                <i class="fa-solid fa-at"></i>
            </a>
        </aside>
        <app-footer></app-footer>
    </div>
</section>