#hero {
	#slogan {
		background-image: url('img/slogan-bg.png');
		background-repeat: repeat;
	}
}

#header {
	#topnav {
		.nav {
			li a:hover,
			li a:active {
				background-color: transparent;
				background-image: url('img/slogan-bg.png');
				background-repeat: repeat;
			}
		}
	}
}

.featured { 
	margin: 0px auto;
	paddign: 0;

	.row {
		padding: 0;
		margin: 0;
		overflow: hidden;

		.logo {
			text-align: center;
			margin: 0px auto;
			padding: 0;
			width: 25%;
			float: left;

			img {
				max-width: 80%;
			}
		}
	}
}

footer {
	.row {
		margin: 0;
		padding: 0;
		overflow: hidden;

		& > div {
			padding: 0;
			margin: 0 -15px;
			width: 20%;
			float: left;
		}

		.nav, 
		article {
			padding: 0px 15px;
		}

		.col-wider {
			width: 30%;
		}
	}
}