/* accents */
@accent-main:;
@accent-sub:;
@accent-block:; // btn, table head, etc.
@accent-block-font:;
@slogan-bg:;
@slogan-font:;

/* general fonts */
@font-color:;
@font-link:;
@font-nav:;

/* sizing */
@nav-size:;
@hero-size:;

/* hero img */
@hero-img:;