.font-size-reset {
  font-size: 0.0001px;
  line-height: 0.0001px;
}
.font-size-reset > * {
  font-size: 16px;
  line-height: 1.4;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.money.currency-USD:before {
  content: '$';
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-weight: 300;
  color: #777777;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 36px;
  font-weight: 400;
}
h2 {
  font-weight: 300;
  font-size: 28px;
}
h1,
h2 {
  margin-bottom: 30px;
}
h3,
.heading {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffa100;
  margin-bottom: 30px;
}
h3.heading-plain,
.heading.heading-plain {
  color: #777777;
  font-weight: 400;
}
p {
  margin-bottom: 18px;
}
p.lead {
  font-size: 22px;
}
p.camel {
  text-transform: capitalize;
}
p.note small,
p.disclaimer small {
  font-size: 12px;
  line-height: 1.2;
  color: #919191;
  font-weight: 400;
}
p.small {
  font-size: 12px;
  line-height: 1.2;
}
p.small small {
  font-size: 12px;
  line-height: 1.2;
}
small {
  font-size: 12px;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: #0089c4;
  font-weight: 500;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #0074a5;
}
blockquote {
  margin-bottom: 18px;
  padding: 12px 24px;
  border-left: 2px solid #777777;
  font-size: 18px;
  font-weight: 400;
}
ul.list {
  padding-left: 20px;
}
ul.no-style {
  list-style-type: none;
  list-style: none;
}
ul.spacing li {
  padding-top: 6px;
  padding-bottom: 6px;
}
button:focus,
input:focus,
textarea:focus,
select:focus,
button:active,
input:active,
textarea:active,
select:active {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
hr {
  margin: 50px 0;
  padding: 0;
  height: 1px;
  background-color: #f5f4f5;
  border: none;
}
hr.short {
  margin: 25px 0;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  background-color: #ebe9eb;
  border: 1px solid #ebe9eb;
  padding: 15px 25px;
  color: #777777;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  -webkit-transition: background-color 0.4s, color 0.4s, border-color 0.4s;
  -moz-transition: background-color 0.4s, color 0.4s, border-color 0.4s;
  -o-transition: background-color 0.4s, color 0.4s, border-color 0.4s;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #dcd9dc;
  border-color: #dcd9dc;
  color: #686868;
}
.btn.btn-small {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 20px;
  padding: 10px 15px;
  margin: 0;
}
.btn.btn-xs {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  padding: 10px 15px;
  margin: 0;
}
.btn.btn-accent {
  background-color: #0089c4;
  border: 1px solid #0089c4;
  color: #cdeaf6;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.btn.btn-accent:hover,
.btn.btn-accent:active,
.btn.btn-accent:focus {
  color: #cdeaf6;
  background-color: #0074a5;
  border-color: #0074a5;
}
.btn.btn-full {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.actions {
  font-size: 0.0001px;
  line-height: 0.0001px;
  margin: -6px;
}
.actions > * {
  font-size: 16px;
  line-height: 1.4;
}
.actions .btn {
  display: inline-block;
  margin: 6px;
}
.close-button {
  background: none;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
  font-size: 16px;
  line-height: 16px;
  color: #d0d0d0;
}
.close-button:hover,
.close-button:active,
.close-button:focus {
  color: #777777;
}
.modal .modal-header .heading {
  margin: 0;
}
.modal .modal-body {
  padding: 30px;
}
.modal .close-button {
  font-size: 22px;
  top: 6px;
  right: 4px;
}
.nav li a {
  font-weight: 300;
  line-height: 24px;
}
.nav li a:hover,
.nav li a:active,
.nav li a:focus {
  background-color: transparent;
  outline: none;
}
.nav li button,
.nav li .btn {
  line-height: 24px;
}
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  background-color: transparent;
  outline: none;
}
.nav ul li a {
  padding: 0;
}
.nav.nav-topic li {
  padding: 0;
}
.nav.nav-topic li a {
  padding: 4px 0;
}
.nav.nav-topic li a:hover,
.nav.nav-topic li a:active,
.nav.nav-topic li a:focus {
  background-color: transparent;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.container.container-small {
  max-width: 900px;
}
.section {
  padding: 50px 0;
  background-color: #ffffff;
}
.section button:focus,
.section input:focus,
.section textarea:focus,
.section select:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(96, 185, 255, 0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(96, 185, 255, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(96, 185, 255, 0.5);
}
.section.topic-head {
  padding-top: 50px;
  padding-bottom: 25px;
}
.section.topic-head .section-title {
  overflow: hidden;
}
.section.topic-head .section-title h2 {
  margin-bottom: 10px;
}
.section.topic-head .section-title .results-category-image {
  text-align: center;
  margin-bottom: 50px;
}
.section.topic-head .section-title .results-category-image img {
  height: 200px;
  display: inline-block;
}
.section.topic-head .actions {
  margin-top: 30px;
}
.section.topic-head.topic-head-results .section-title .info,
.section.topic-head.topic-head-details .section-title .info {
  width: 100%;
}
.section.topic-head.topic-head-results .section-title .results-category-image img,
.section.topic-head.topic-head-details .section-title .results-category-image img {
  width: 100%;
  height: auto;
}
.section.no-padding {
  padding: 0;
}
.section .title {
  font-size: 24px;
  font-weight: 300;
}
.section.section-darker {
  background-color: #f5f4f5;
}
.section.section-darker hr {
  background-color: #e9e7e9;
}
.section.section-dropdown {
  background-color: #595959;
  color: #8c8c8c;
  position: relative;
  z-index: 2;
}
.section.section-dropdown:before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #595959 transparent;
}
.section.section-dropdown .title,
.section.section-dropdown .heading {
  color: #cccccc;
  margin-bottom: 18px;
}
.section.section-dropdown a {
  color: #8c8c8c;
  font-weight: 300;
}
.section.section-dropdown a:hover,
.section.section-dropdown a:active,
.section.section-dropdown a:focus {
  color: #cccccc;
}
.section.section-dropdown hr {
  background-color: #666666;
}
.section.section-dropdown .form input,
.section.section-dropdown .form select {
  font-size: 16px;
  line-height: 1.4;
  height: 40px;
  border: none;
  padding: 10px 20px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #666666;
  width: 100%;
  color: #cccccc;
}
.section.section-dropdown .form .search button {
  color: #8c8c8c;
}
.section.section-dropdown .form .search button:hover,
.section.section-dropdown .form .search button:focus,
.section.section-dropdown .form .search button:active {
  color: #cccccc;
}
.section.section-dropdown .categories {
  margin-top: -15px;
  margin-bottom: -15px;
}
.section.section-dropdown .categories .category {
  margin: 15px 0;
}
.section.section-dropdown .categories .category:nth-child(3n + 3) {
  clear: both;
}
.section.section-bar {
  border-bottom: 1px solid #f5f4f5;
}
.section.section-bar:last-child {
  border-bottom: none;
}
.form {
  margin: 0 -12px;
}
.form .item {
  padding: 0 12px 25px;
  line-height: 40px;
}
.form .item.item-button {
  overflow: hidden;
}
.form .item.item-button input {
  width: 75%;
  float: left;
  border-radius: 4px 0px 0px 4px;
  border-right: none;
}
.form .item.item-button button {
  width: 25%;
  float: right;
  border-radius: 0px 4px 4px 0px;
  padding: 9px 15px;
  margin: 0;
  line-height: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form .set {
  overflow: hidden;
}
.form .set.row {
  margin-left: 0;
  margin-right: 0;
}
.form .set.set-2 .item {
  width: 50%;
  float: left;
}
.form .set.set-3 .item {
  width: 33.3333%;
  float: left;
}
.form label {
  display: block;
  text-align: left;
}
.form .label {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  display: block;
  color: #777777;
  font-weight: 500;
  padding: 0;
  margin-bottom: 4px;
  border-radius: 0;
  text-align: left;
}
.form .label small {
  font-size: 12px;
  line-height: 1.2;
  color: #aaaaaa;
}
.form input {
  display: block;
  width: 100%;
  border: 1px solid #ddd9dd;
  border-radius: 4px;
  padding: 9px 15px;
  line-height: 20px;
  color: #777777;
}
.form .search {
  position: relative;
}
.form .search button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 12px;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.form .search button:hover,
.form .search button:active,
.form .search button:focus {
  color: #ffa100;
}
.form .alert-box {
  margin-top: -13px;
  padding: 0 12px 25px;
}
table {
  width: 100%;
}
table thead td {
  border-width: 1px;
  font-weight: 500;
}
table td {
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #f0f0f0;
}
table td.right {
  text-align: right;
}
table.utility-rates td {
  vertical-align: middle;
  padding: 12px 15px;
}
table.utility-rates td.utility-name {
  width: 50%;
}
table.utility-rates td.averate-rate {
  width: 25%;
}
table.utility-rates td.button {
  width: 25%;
}
.row.chart {
  margin: 0;
}
.row.chart ul {
  list-style-type: none;
  list-style: none;
  border-top: 1px solid #f5f4f5;
  padding: 0;
  margin: 0;
}
.row.chart ul li {
  overflow: hidden;
  border-bottom: 1px solid #f5f4f5;
}
.row.chart ul li .left,
.row.chart ul li .right {
  float: left;
  width: 50%;
  padding: 12px 15px;
}
.row.chart ul li .right {
  font-weight: 400;
  text-align: right;
}
.row.chart ul + ul {
  border-top: none;
}
.search-filter {
  min-height: 70px;
  background-color: #f5f4f5;
}
.search-filter p.results {
  font-size: 20px;
  line-height: 70px;
  display: inline-block;
  margin: 0;
}
.search-filter .btn {
  float: right;
  padding: 10px 25px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 0;
  width: 200px;
}
.page-nav {
  background-color: #ffa100;
  min-height: 50px;
}
.page-nav ul {
  font-size: 0.0001px;
  line-height: 0.0001px;
}
.page-nav ul > * {
  font-size: 16px;
  line-height: 1.4;
}
.page-nav ul li {
  display: inline-block;
}
.page-nav ul li a {
  color: #ffffff;
  line-height: 20px;
  padding: 15px 20px;
}
.page-nav ul li a:hover,
.page-nav ul li a:active,
.page-nav ul li a:focus {
  color: #0089c4;
}
#header {
  background-color: #ffffff;
  height: 50px;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
}
#header #topnav {
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
#header #topnav .container-fluid {
  padding: 0;
}
#header #topnav .logo {
  display: block;
  height: 50px;
  padding: 10px 15px;
  float: left;
}
#header #topnav .logo img {
  display: block;
  height: 100%;
}
#header #topnav .nav {
  float: right;
  font-size: 0.0001px;
  line-height: 0.0001px;
}
#header #topnav .nav > * {
  font-size: 16px;
  line-height: 1.4;
}
#header #topnav .nav li {
  display: inline-block;
}
#header #topnav .nav li a {
  padding: 13px 15px 13px;
  color: #777777;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
#header #topnav .nav li a:hover,
#header #topnav .nav li a:active,
#header #topnav .nav li a:focus {
  color: #ffa100;
}
#header #topnav .nav li.nav-hidden {
  display: none;
}
#header #topnav .nav li .fa {
  position: relative;
  top: -3px;
  margin-left: 4px;
}
#header.has-hero {
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#header.has-hero #topnav {
  background-image: url('../../assets/img/topnav-gradient-50.png');
  background-repeat: repeat-x;
  background-position: top left;
}
#header.has-hero #hero {
  background-color: #ffa100;
  background-image: url('img/hero-pge.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
#header.has-hero #hero #slogan {
  background-color: rgba(255, 161, 0, 0.65);
  text-align: center;
  padding: 35px 0;
  width: 100%;
}
#header.has-hero #hero #slogan h1 {
  margin-bottom: 0;
  color: #ffffff;
}
#header.has-hero #hero #slogan h1 .accent {
  color: #0089c4;
}
#header.has-hero #hero .scroll-initiator {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  display: block;
  width: 60px;
  padding: 6px 0;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffa100;
}
#header.has-hero #hero .scroll-initiator:hover,
#header.has-hero #hero .scroll-initiator:focus,
#header.has-hero #hero .scroll-initiator:active {
  color: #e08e00;
}
#header.has-hero.has-hero-tall {
  height: 100%;
  padding-bottom: 227px;
}
#header.has-hero.has-hero-tall #hero {
  height: 100%;
}
#header.has-hero.has-hero-tall #hero #slogan {
  position: absolute;
  top: 50%;
  margin-top: -78px;
}
#header.has-hero.has-hero-mini #hero {
  padding: 100px 0;
}
#header.has-hero.has-hero-mini #dropdown-search {
  position: absolute;
  top: 50px;
  width: 100%;
}
#header.has-hero #topnav .nav li a {
  color: #ffffff;
}
#header.has-hero #topnav .nav li a:hover,
#header.has-hero #topnav .nav li a:active,
#header.has-hero #topnav .nav li a:focus {
  color: #ffa100;
}
#header.has-hero h2 {
  text-align: center;
}
#start {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -227px;
  padding-bottom: 20px;
}
.white-box {
  height: 30px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.steps .step {
  overflow: hidden;
  position: relative;
}
.steps .step .circle {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 30px;
  display: block;
  border: 6px solid #0089c4;
  border-radius: 100%;
  text-align: center;
  color: #0089c4;
  line-height: 50px;
  font-size: 24px;
  font-weight: 800;
}
.steps .step.accent-main .circle {
  border-color: #ffa100;
  color: #ffa100;
}
.steps .step.accent-main h3 {
  color: #ffa100;
}
.steps .step.accent-sub h3 {
  color: #0089c4;
}
.steps .step .info {
  margin-top: 6px;
  padding-left: 90px;
  padding-right: 150px;
}
.steps .step .info h3 {
  margin-bottom: 18px;
}
.steps .step .icon {
  float: right;
  width: 100px;
}
.steps .step .icon img {
  display: block;
  width: 100%;
}
.steps .step + .step {
  margin-top: 50px;
}
.intro-list {
  text-align: center;
}
.intro-list .list-item + .list-item {
  margin-top: 50px;
}
.intro-list a {
  display: block;
}
.intro-list a p {
  color: #777777;
  font-weight: 300;
}
.intro-list p {
  margin: 0;
  color: #777777;
  font-weight: 300;
}
.intro-list p.heading {
  margin-bottom: 12px;
}
.intro-list p.note small {
  font-size: 12px;
  display: block;
}
.intro-list .e-score-bubble {
  width: 60px;
  height: 60px;
}
.intro-list .e-score-bubble circle,
.intro-list .e-score-bubble .outer {
  fill: #e4e1e4;
}
.intro-list .e-score-bubble .inner,
.intro-list .e-score-bubble circle ~ circle {
  fill: #f5f4f5;
}
.intro-list .e-score-bubble .indicator {
  fill: #ffa100;
}
.intro-list .icon {
  margin-bottom: 12px;
  line-height: 60px;
  height: 60px;
  font-size: 50px;
  color: #ffa100;
}
.intro-list .icon.popularity {
  font-size: 25px;
}
.intro-list .icon.popularity .star-empty {
  color: #e6e4e6;
}
.intro-list .icon.total-savings small,
.intro-list .icon.total-rebates small {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
}
.intro-list .icon.total-savings .number,
.intro-list .icon.total-rebates .number {
  display: block;
  font-size: 40px;
  line-height: 46px;
  font-weight: 500;
}
.intro-list .icon.total-rebates .rebate-card {
  display: block;
  border-radius: 4px;
  max-width: 100px;
  height: 60px;
  padding-top: 6px;
  background-color: #ffa100;
  margin: 0 auto;
}
.intro-list .icon.total-rebates .rebate-card small,
.intro-list .icon.total-rebates .rebate-card .number {
  color: #f5f4f5;
}
.intro-list .icon.total-rebates .rebate-card .number {
  font-size: 30px;
  line-height: 36px;
}
.intro-list .rebate-card {
  padding: 0;
}
.intro-list .rebate-card .number {
  padding: 0;
  text-align: center;
}
.product-category-list ul {
  list-style-type: none;
  list-style: none;
  margin: -24px -12px;
  padding: 0;
  font-size: 0.0001px;
  line-height: 0.0001px;
}
.product-category-list ul > * {
  font-size: 16px;
  line-height: 1.4;
}
.product-category-list ul li {
  text-align: center;
  padding: 24px 12px;
}
.product-category-list ul li img {
  display: block;
  height: 120px;
  margin: 0 auto 12px;
}
.product-category-list ul li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-category-list ul .incentives .content {
  padding: 26px 12px 0;
  background-color: #f5f4f5;
  border-radius: 4px;
}
.product-category-list ul .incentives .fa {
  font-size: 60px;
  color: #0089c4;
  margin-bottom: 12px;
}
.product-category-list ul .incentives p {
  margin: 0;
}
.product-category-list ul .content {
  height: 172px;
}
.featured {
  margin: -30px auto;
}
.featured .logo {
  text-align: center;
  margin: 30px auto;
}
.results-list #results {
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}
.results .table-header {
  background-color: #ffa100;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.results table {
  width: 100%;
}
.results table thead {
  background-color: #0089c4;
  color: #cdeaf6;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
.results table thead tr td {
  line-height: 25px;
  padding: 12px 15px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #0097d8;
}
.results table thead .fa {
  color: #cdeaf6;
}
.results table tbody {
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #f0f0f0;
  font-size: 28px;
  line-height: 1.2;
}
.results table tbody tr {
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.results table tbody tr:hover {
  background-color: #ffffff;
}
.results table tbody tr:nth-child(even) {
  background-color: #faf9fa;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #f0f0f0;
}
.results table tbody tr:nth-child(even):hover {
  background-color: #ffffff;
}
.results table tbody tr td {
  padding: 20px 15px;
  text-align: center;
}
.results table tbody tr td.product .left,
.results table tbody tr td.product .right {
  text-align: center;
}
.results table tbody tr td.product .right {
  margin-top: 10px;
}
.results table tbody tr td.product .rating {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  position: relative;
  color: #e6e4e6;
  letter-spacing: 1px;
  width: 84px;
}
.results table tbody tr td.product .rating .full {
  color: #ffa100;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.results table tbody tr td.product .rating .full span {
  display: block;
  width: 84px;
}
.results table tbody tr td.esavings {
  color: #75bf14;
}
.results table tbody tr td.esavings.no {
  color: #ef5520;
}
.results table tbody tr td.purchase-price {
  font-size: 125%;
}
.results table small {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}
.results .more-results {
  padding: 30px 30px 20px;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #f0f0f0;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
.e-score img {
  max-width: 100%;
}
.e-score-bubble {
  width: 50px;
  height: 50px;
}
.e-score-bubble circle,
.e-score-bubble .outer {
  fill: #e4e1e4;
}
.e-score-bubble .inner,
.e-score-bubble circle ~ circle {
  fill: #ffffff;
}
.e-score-bubble .indicator {
  fill: #ffa100;
}
.e-score-bubble text {
  fill: #0089c4;
  font-size: 24px;
  font-weight: 800;
}
.e-score-bubble.mono .outer {
  fill: #e4e1e4;
}
.e-score-bubble.mono .indicator {
  fill: #777777;
}
.e-score-bubble.mono text {
  fill: #777777;
}
.stack {
  list-style: none;
  list-style-type: none;
  font-size: 0.0001px;
  line-height: 0.0001px;
  margin: -6px;
  padding: 0;
}
.stack > * {
  font-size: 16px;
  line-height: 1.4;
}
.stack .card {
  display: inline-block;
  width: 33%;
  padding-bottom: 40%;
  vertical-align: top;
  position: relative;
}
.stack .card .card-container {
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
}
.stack .card .card-container .card-content {
  width: 100%;
  height: 100%;
}
.stack .card .card-container .card-content .flip-container,
.stack .card .card-container .card-content .card-face,
.stack .card .card-container .card-content .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}
.stack .card .card-container .card-content .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.stack .card .card-container .card-content .flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.stack .card .card-container .card-content .flip-container:hover .flipper .card-face,
.stack .card .card-container .card-content .flip-container:active .flipper .card-face,
.stack .card .card-container .card-content .flip-container:focus .flipper .card-face,
.stack .card .card-container .card-content .flip-container:hover .flipper .card-back,
.stack .card .card-container .card-content .flip-container:active .flipper .card-back,
.stack .card .card-container .card-content .flip-container:focus .flipper .card-back {
  border: 1px solid #e6e4e6;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.stack .card .card-container .card-content .flip-container .flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.stack .card .card-container .card-content .flip-container .flipper .card-face,
.stack .card .card-container .card-content .flip-container .flipper .card-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  overflow: auto;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e2dfe2;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.stack .card .card-container .card-content .flip-container .flipper .card-face {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.stack .card .card-container .card-content .flip-container .flipper .card-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.stack .card .flip-trigger button {
  background: none;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
  font-size: 16px;
  line-height: 16px;
  color: #d0d0d0;
}
.stack .card .flip-trigger button:hover,
.stack .card .flip-trigger button:active,
.stack .card .flip-trigger button:focus {
  color: #777777;
}
.stack.products .product-name {
  height: 106px;
  padding: 20px 20px 0;
  border-bottom: 1px solid #f5f4f5;
  position: relative;
  overflow: hidden;
  font-weight: 400;
}
.stack.products .product-name img.product {
  width: 125px;
  float: left;
  padding-right: 20px;
}
.stack.products .product-name h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
}
.stack.products .product-name .product-id {
  margin-top: 2px;
  display: block;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}
.stack.products .product-specs {
  padding: 20px 20px 0px;
  font-weight: 400;
  text-align: center;
}
.stack.products .product-specs .e-score {
  float: left;
  width: 125px;
  padding-right: 20px;
  text-align: center;
}
.stack.products .product-specs .e-score svg {
  margin-bottom: 12px;
}
.stack.products .product-specs .specs {
  padding-left: 125px;
}
.stack.products .product-specs .specs .price {
  font-size: 28px;
}
.stack.products .product-specs .specs .savings {
  color: #75bf14;
  font-size: 28px;
}
.stack.products .product-specs .specs small {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: -2px;
}
.stack.products .product-rating {
  padding: 0px 20px 20px;
}
.stack.products .product-rating .rating {
  margin-top: 20px;
  font-size: 17px;
  position: relative;
  color: #e4e1e4;
  letter-spacing: 1px;
  width: 84px;
  display: inline-block;
}
.stack.products .product-rating .rating .full {
  color: #ffa100;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.stack.products .product-rating .rating .full span {
  display: block;
  width: 84px;
}
.stack.products .product-rating p {
  margin: 0;
  margin-left: 24px;
  display: inline-block;
  text-align: right;
}
.stack.products .product-info {
  height: 207px;
  overflow: auto;
  padding: 20px 20px 10px;
}
.hover-info {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.hover-info .hover-info-box {
  display: none;
  position: absolute;
  top: 30px;
  left: -130px;
  width: 260px;
  padding: 24px;
  background-color: #ffffff;
  color: #777777;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.hover-info .hover-info-box:before {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 130px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}
.hover-info .hover-info-box h2 {
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ffa100;
}
.hover-info .hover-info-box p {
  font-weight: 300;
  text-transform: none;
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
}
.hover-info:hover .hover-info-box {
  display: block;
}
.certificate img {
  height: 30px;
  float: right;
  position: relative;
  top: -4px;
}
.has-sidebar.section {
  padding: 0;
}
.has-sidebar .sidebar .affix {
  top: 0px;
}
.has-sidebar .sidebar .affix-top {
  position: relative;
}
.has-sidebar .sidebar .affix-bottom {
  position: absolute;
}
.has-sidebar .sidebar .sidebar-container {
  padding-top: 50px;
}
.has-sidebar .sidebar .nav {
  font-size: 0.0001px;
  line-height: 0.0001px;
  margin-top: -6px;
}
.has-sidebar .sidebar .nav > * {
  font-size: 16px;
  line-height: 1.4;
}
.has-sidebar .sidebar .nav li.active a {
  color: #0089c4;
  font-weight: 400;
}
.has-sidebar .sidebar .nav a {
  color: #777777;
  padding: 6px 0;
}
.has-sidebar .sidebar .nav a:hover,
.has-sidebar .sidebar .nav a:active,
.has-sidebar .sidebar .nav a:focus {
  color: #0089c4;
}
.sidebar-small {
  background-color: #595959;
}
.sidebar-small ul.nav {
  overflow: hidden;
}
.sidebar-small ul.nav li {
  width: 50%;
  float: left;
  border-top: 1px solid #666666;
}
.sidebar-small ul.nav li:nth-child(odd) {
  border-right: 1px solid #666666;
}
.sidebar-small ul.nav li:nth-child(1),
.sidebar-small ul.nav li:nth-child(2) {
  border-top: none;
}
.sidebar-small ul.nav a {
  padding: 12px 15px;
  color: #cccccc;
  display: block;
  -webkit-transition: color 0.4s, background-color 0.4s;
  -moz-transition: color 0.4s, background-color 0.4s;
  -o-transition: color 0.4s, background-color 0.4s;
  transition: color 0.4s, background-color 0.4s;
}
.sidebar-small ul.nav a:hover,
.sidebar-small ul.nav a:active,
.sidebar-small ul.nav a:focus {
  color: #cccccc;
  background-color: #666666;
}
.team-members {
  list-style-type: none;
  list-style: none;
  margin: -12px 0;
}
.team-members .member {
  padding-top: 12px;
  padding-bottom: 12px;
}
.team-members .member-avatar {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
}
.team-members .member-avatar img {
  display: block;
  width: 100%;
}
.team-members .member-info {
  padding-top: 12px;
  text-align: center;
}
.team-members .member-name,
.team-members .member-title {
  margin: 0;
}
.team-members .member-title {
  font-size: 12px;
  min-height: 32px;
}
.product-stats {
  overflow: hidden;
  height: 200px;
}
.product-stats .stats {
  float: left;
  width: 33.3333%;
  height: 200px;
  text-align: center;
}
.rating {
  font-size: 17px;
  position: relative;
  color: #e4e1e4;
  letter-spacing: 1px;
  width: 84px;
  display: inline-block;
}
.rating .full {
  color: #ffa100;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating .full span {
  display: block;
  width: 84px;
}
.product-user-rating p {
  margin: -4px 0 2px;
  color: #aaaaaa;
  font-size: 13px;
  line-height: 1.2;
  font-style: italic;
}
.product-user-rating .rating {
  margin-bottom: 18px;
}
.well {
  margin: 0 auto;
  border-radius: 4px;
  padding: 50px 24px;
  background-color: #f5f4f5;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.well + p {
  margin-top: 18px;
}
.well hr {
  margin-left: -24px;
  margin-right: -24px;
  background-color: #ffffff;
}
.well .energy-savings-calc {
  overflow: hidden;
  margin: 0 auto;
}
.well .energy-savings-calc > span {
  display: block;
  text-align: center;
  float: left;
  width: 20%;
  line-height: 32px;
  font-size: 24px;
}
.well .energy-savings-calc > span.number {
  width: 23.333%;
  font-weight: 500;
}
.well .energy-savings-calc > span.number.accent {
  color: #ffa100;
}
.well .energy-savings-calc > span.sign {
  width: 15%;
}
.well .energy-savings-calc > span small {
  display: block;
  font-size: 12px;
  line-height: 1.2;
}
.well .compare-items {
  overflow: hidden;
  margin: 0 auto;
}
.well .compare-items > div {
  float: left;
  width: 40%;
}
.well .compare-items .item-this {
  font-size: 100px;
  line-height: 100px;
  color: #ffa100;
}
.well .compare-items .item-equals {
  line-height: 100px;
  font-size: 40px;
  width: 20%;
}
.well .compare-items .item-others {
  font-size: 45px;
  line-height: 50px;
  font-size: 0.0001px;
  line-height: 0.0001px;
}
.well .compare-items .item-others > * {
  font-size: 16px;
  line-height: 1.4;
}
.well .compare-items .item-others > span {
  vertical-align: middle;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 4px;
}
.well .compare-items .item-others > span.solid {
  display: inline-block;
}
.well .compare-items .item-others span.partial {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.well .compare-items .item-others span.partial span.solid {
  position: absolute;
  top: 0;
  left: 0;
  color: #ebe9eb;
  z-index: 1;
}
.well .compare-items .item-others span.partial span {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.ecoview-savings {
  text-align: center;
  font-size: 22px;
}
.ecoview-savings .icon {
  font-size: 100px;
  line-height: 100px;
  margin: 24px 0px 12px;
}
.ecoview-savings small {
  display: block;
  font-size: 16px;
  line-height: 1.4;
}
ul.where-to-buy li:first-child {
  border-top: 1px solid #f5f4f5;
}
ul.where-to-buy li {
  padding: 12px 15px;
  border-bottom: 1px solid #f5f4f5;
}
ul.where-to-buy li img {
  display: inline-block;
  height: 30px;
  margin-top: 3px;
}
ul.where-to-buy li .text {
  line-height: 28px;
  padding-top: 8px;
}
ul.where-to-buy li .text.shipping {
  font-size: 12px;
  line-height: 1.2;
  line-height: 28px;
}
ul.where-to-buy li .text p {
  margin: 0;
}
ul.where-to-buy li .btn {
  margin-top: 18px;
}
ul.reviews li:first-child {
  border-top: 1px solid #f5f4f5;
}
ul.reviews li {
  padding: 12px 15px;
  border-bottom: 1px solid #f5f4f5;
}
ul.reviews li img {
  display: inline-block;
  height: 30px;
  margin-top: 3px;
}
ul.reviews li .text {
  line-height: 28px;
  padding-top: 4px;
}
ul.reviews li .rating-container {
  margin-top: 10px;
}
.similar-products a {
  display: block;
  margin-bottom: 18px;
}
.similar-products .product-info {
  position: relative;
}
.similar-products .product-info p {
  font-weight: 300;
  color: #777777;
  margin: 0;
  font-size: 14px;
}
.similar-products .product-info p.product-name {
  margin-top: 18px;
  font-weight: 500;
}
.similar-products img {
  height: 100px;
}
.similar-products .e-score-bubble {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 50px;
  height: 50px;
}
.similar-products .savings {
  background-color: #f5f4f5;
  padding: 10px;
  border-radius: 4px;
  width: 70px;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  line-height: 15px;
  color: #777777;
  position: absolute;
  top: -10px;
  left: 125px;
}
.similar-products .savings small {
  font-weight: 300;
  text-transform: uppercase;
}
.compare-score .e-score-bubble {
  display: inline-block;
  margin-bottom: 18px;
  width: 100px;
  height: 100px;
}
.compare-score .sign {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  font-size: 200%;
  position: relative;
  padding: 10px 0;
}
.compare-score.compare-score-double .e-score-bubble {
  width: 70px;
  height: 70px;
}
.score-bar {
  overflow: hidden;
  margin-top: 25px;
  padding: 0px 16px;
}
.score-bar .bar {
  margin-top: 15px;
  height: 10px;
  background-color: #ddd9dd;
  float: left;
}
.score-bar .bar.bar-50 {
  width: 50%;
  background-color: #ddd9dd;
}
.score-bar .bar.bar-25 {
  width: 25%;
  background-color: #ffd080;
}
.score-bar .bar.bar-15 {
  width: 15%;
  background-color: #ffbd4d;
}
.score-bar .bar.bar-10 {
  width: 10%;
  background-color: #ffa100;
}
.score-bar .score-bubble {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 -20px;
  position: relative;
  z-index: 2;
}
.score-bar .score-bubble svg .stroke {
  fill: #ffffff;
}
.score-bar .score-bubble svg circle,
.score-bar .score-bubble svg .outer {
  fill: #e4e1e4;
}
.score-bar .score-bubble svg .inner,
.score-bar .score-bubble svg circle ~ circle {
  fill: #ffffff;
}
.score-bar .score-bubble svg .indicator {
  fill: #ffa100;
}
.score-bar .score-bubble svg text {
  fill: #0089c4;
  font-weight: 700;
  font-size: 12px;
}
.score-level {
  overflow: hidden;
  margin-top: -10px;
  padding: 0 16px;
}
.score-level .bar {
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}
.score-level .bar.bar-50 {
  width: 50%;
}
.score-level .bar.bar-25 {
  width: 25%;
}
.score-level .bar.bar-15 {
  width: 15%;
}
.score-level .bar.bar-10 {
  width: 10%;
}
.rebate-card {
  background-color: #0089c4;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  max-width: 300px;
}
.rebate-card .number {
  padding: 10px;
}
.rebate-card .number small {
  display: block;
  text-transform: uppercase;
}
.rebate-card .number .money {
  display: block;
  font-size: 60px;
  line-height: 64px;
  font-weight: 500;
}
.rebate-card p {
  color: #ffffff;
  margin: 0;
}
.rebate-card p small {
  color: #ffffff;
}
.alert-box.alert-box-error {
  color: #ef5520;
}
.alert-box.alert-box-success {
  color: #75bf14;
}
footer {
  color: #8c8c8c;
}
footer.section-footer {
  background-color: #595959;
}
footer.section-footer hr {
  background-color: #666666;
}
footer .container {
  position: relative;
}
footer .title {
  color: #cccccc;
}
footer .nav li a {
  color: #8c8c8c;
  font-weight: 300;
  padding: 0;
  display: inline;
}
footer .nav li a:hover,
footer .nav li a:active,
footer .nav li a:focus {
  color: #cccccc;
  background-color: transparent;
}
footer a {
  color: #cccccc;
}
footer a:hover,
footer a:active,
footer a:focus {
  color: #e5e5e5;
}
footer .companies {
  clear: both;
  margin-top: 50px;
}
footer .companies img {
  float: left;
  width: 150px;
  display: block;
  margin-right: 24px;
}
footer .companies p {
  padding-left: 174px;
}
footer .bottomnav {
  border-top: 1px solid #666666;
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
}
footer .bottomnav ul {
  font-size: 0.0001px;
  line-height: 0.0001px;
  margin: 0 -15px;
}
footer .bottomnav ul > * {
  font-size: 16px;
  line-height: 1.4;
}
footer .bottomnav ul li {
  display: inline-block;
  padding: 0 15px;
}
footer p.disclaimer {
  margin: 50px 0 0;
}
footer small {
  line-height: 1.2;
}
footer .logo {
  display: block;
  height: 30px;
  text-align: center;
  margin: 50px 0 0;
}
footer .logo img {
  display: inline-block;
  height: 100%;
}
footer #copyright {
  margin: 50px 0 0;
  text-align: center;
}
footer #copyright a {
  font-weight: 500;
  color: #8c8c8c;
}
footer #copyright a:hover,
footer #copyright a:focus,
footer #copyright a:active {
  color: #cccccc;
}
footer #copyright .break {
  display: block;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    letter-spacing: 1px;
  }
  #header {
    height: 70px;
  }
  #header #topnav {
    height: 70px;
  }
  #header #topnav .logo {
    height: 70px;
  }
  #header #topnav .container-fluid {
    padding: 0 15px;
  }
  #header #topnav .nav li a {
    padding: 23px 15px 23px;
  }
  #header.has-hero #topnav {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('../../assets/img/topnav-gradient-70.png');
  }
  #header.has-hero #topnav a {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  }
  #header.has-hero.has-hero-mini #hero {
    padding: 140px 0;
  }
  #header.has-hero.has-hero-mini #dropdown-search {
    top: 70px;
  }
  .section.topic-head {
    padding-top: 70px;
  }
  .section.topic-head .section-title {
    overflow: hidden;
  }
  .section.topic-head .section-title .results-category-image {
    float: right;
    padding-left: 50px;
    margin: 0;
  }
  .section.topic-head.topic-head-details .info,
  .section.topic-head.topic-head-results .info {
    width: 75%;
  }
  .section.topic-head.topic-head-details .results-category-image,
  .section.topic-head.topic-head-results .results-category-image {
    width: 25%;
  }
  .steps .step .info {
    padding-right: 250px;
  }
  .steps .step .icon {
    width: 150px;
  }
  .featured {
    margin: -15px auto;
  }
  .featured .logo {
    margin: 15px auto;
  }
  #dropdown-search .section:before {
    right: 172px;
    left: auto;
  }
  .results table tbody tr td {
    border-left: none;
    border-right: none;
  }
  .results table tbody tr td.product .left,
  .results table tbody tr td.product .right {
    width: 50%;
    float: left;
  }
  .results table tbody tr td.product .right {
    text-align: left;
    margin-top: -4px;
    padding-left: 20px;
  }
  .results table tbody tr td.product .rating {
    margin-left: 0;
    margin-right: 0;
  }
  .e-score-bubble.resize {
    width: 70px;
    height: 70px;
  }
  .intro-list .list-item + .list-item {
    margin-top: 0;
  }
  .intro-list .e-score-bubble.resize {
    width: 60px;
    height: 60px;
  }
  .well .energy-savings-calc > span {
    line-height: 48px;
    font-size: 40px;
  }
  .well .energy-savings-calc > span small {
    font-size: 16px;
    line-height: 1.4;
  }
  ul.where-to-buy li .text.shipping {
    font-size: 16px;
    line-height: 1.4;
  }
  ul.where-to-buy li .btn {
    margin-top: 0;
  }
  footer #copyright {
    text-align: center;
  }
  footer #copyright .break {
    display: inline;
  }
  footer .logo {
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .section.section-dropdown .categories .category:nth-child(3n + 3) {
    clear: none;
  }
  .featured {
    margin: 0 auto;
  }
  .featured .logo {
    margin: 0 auto;
  }
  .video-reel {
    position: relative;
  }
  .video-reel .video-info {
    padding-right: 608px;
    position: absolute;
    min-height: 315px;
  }
  .video-reel .video-self {
    width: 560px;
    float: right;
    position: relative;
    z-index: 2;
  }
  .row.chart ul + ul {
    border-top: 1px solid #f5f4f5;
    border-left: 1px solid #f5f4f5;
  }
  .well .short {
    width: 80%;
  }
  .well .middle {
    width: 80%;
  }
  footer .container {
    padding-bottom: 70px;
  }
  footer.no-logo .container {
    padding-bottom: 18px;
  }
  footer .companies {
    margin-top: 0;
    clear: none;
  }
  footer .bottomnav {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
  footer .left {
    position: absolute;
    left: 30px;
    bottom: 0;
  }
  footer .right {
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: 0;
  }
  footer .logo {
    text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .section {
    padding: 70px 0;
  }
  .section.topic-head {
    padding-bottom: 35px;
  }
  #header.has-hero.has-hero-tall {
    padding-bottom: 299px;
  }
  #header.has-hero.has-hero-tall #hero #slogan {
    padding: 50px 0;
    margin-top: -110px;
  }
  #header.has-hero.has-hero-tall #hero #slogan h1 {
    font-size: 50px;
  }
  #header.has-hero.has-hero-mini #hero #slogan h1 {
    font-size: 38px;
  }
  #start {
    margin-top: -299px;
  }
  .white-box {
    height: 50px;
  }
  .steps .step + .step {
    margin-top: 70px;
  }
  .dropdown.right .section .container:before {
    top: -90px;
  }
  .well .short {
    width: 60%;
  }
  .well .middle {
    width: 80%;
  }
  .has-sidebar .sidebar .sidebar-container {
    padding-top: 70px;
  }
  footer .container {
    padding-bottom: 90px;
  }
}
@media screen and (max-height: 650px), screen and (max-width: 992px) {
  #header.has-hero.has-hero-tall {
    height: auto;
    padding: 0;
  }
  #header.has-hero.has-hero-tall #hero {
    height: auto;
    padding: 120px 0;
  }
  #header.has-hero.has-hero-tall #hero #slogan {
    position: static;
    top: auto;
    margin-top: 0;
  }
  #header.has-hero.has-hero-tall #hero #slogan h1 {
    font-size: 28px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 28px;
  }
  #start {
    margin-top: 0;
  }
}
@media screen and (max-width: 650px) {
  .search-filter .btn {
    float: none;
    margin: 0 0 15px;
    width: 100%;
  }
  .dropdown.right .section .container:before {
    right: auto;
    left: 50%;
    margin-left: -10px;
  }
}
@media screen and (max-width: 550px) {
  #header #topnav .logo {
    float: left;
    padding-right: 15px;
  }
  #header #topnav .nav {
    float: left;
  }
  #header #topnav .nav li {
    font-size: 0.85rem;
  }
  #header #topnav .nav li.right {
    position: absolute;
    right: 0;
    top: 0;
  }
  #header #topnav .nav li.nav-hidden {
    display: inline-block;
  }
  #header #topnav .nav li.nav-hidden .btn {
    display: block;
    border-radius: 0;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
  }
  #header #topnav .nav li.nav-hidden .btn:hover,
  #header #topnav .nav li.nav-hidden .btn:focus,
  #header #topnav .nav li.nav-hidden .btn:active {
    color: #0089c4;
  }
  #header #topnav .nav li.nav-hidden .btn .fa {
    top: 0;
    margin: 0;
  }
  #header #topnav .nav li.nav-show {
    display: none;
  }
  #header #topnav .nav li a {
    padding-left: 15px;
    padding-right: 15px;
  }
  #header #topnav .nav li span.hide-small {
    display: none;
  }
  #header.has-hero.has-hero-mini #topnav .nav li.nav-hidden .btn {
    color: #ffffff;
  }
  #header.has-hero.has-hero-mini #topnav .nav li.nav-hidden .btn:hover,
  #header.has-hero.has-hero-mini #topnav .nav li.nav-hidden .btn:active,
  #header.has-hero.has-hero-mini #topnav .nav li.nav-hidden .btn:focus {
    color: #ffa100;
  }
  #header #hero {
    padding: 75px 0 50px;
  }
  #dropdown-search .section:before {
    right: 15px;
  }
  .product-category-list ul .incentives .fa {
    font-size: 40px;
  }
  .product-category-list ul .incentives p {
    font-size: 12px;
  }
  footer .companies img {
    float: none;
    margin-right: 0;
    margin-bottom: 18px;
  }
  footer .companies p {
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .steps .step .circle {
    display: none;
  }
  .steps .step .info {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .steps .step .icon {
    float: none;
    width: 150px;
    max-width: 75%;
    margin: 0 auto 30px;
  }
  .results table thead {
    font-size: 10px;
  }
  .results table thead tr td,
  .results table thead tr td:first-child,
  .results table thead tr td:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .results table tbody {
    font-size: 24px;
  }
  .results table tbody tr td,
  .results table tbody tr td:first-child,
  .results table tbody tr td:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .results table tbody tr td.product .left img {
    width: 70px;
    max-width: 100%;
  }
  .results table tbody tr td.product .rating {
    font-size: 13px;
    width: 66px;
  }
  .results table tbody tr td.product .rating .full span {
    width: 66px;
  }
  .results table small {
    font-size: 10px;
  }
  .results table .button .btn.btn-small {
    font-size: 10px;
    padding: 5px 10px;
  }
  .results .more-results {
    padding: 15px 15px 5px;
  }
  .product-category-list .btn {
    font-size: 10px;
  }
}
