<main>
    <div class="container">
        <app-logo></app-logo>
        <h1>Judit</h1>
        <div>Design-forward frontend developer</div>

        <figure>
            <ul>
                <li>
                    <a routerLink="portfolio/web">Web</a>
                </li>
                <li>
                    <a routerLink="portfolio/graphics">Graphics</a>
                </li>
                <li>
                    <a routerLink="about">About me</a>
                </li>
            </ul>
        </figure>
    </div>
</main>
<div class="footer">
    <aside class="contact">
        <a href="https://www.linkedin.com/in/judit-lukacsovich/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/juditdidit" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="mailto:hello@juditdidit.com">
            <i class="fa-solid fa-at"></i>
        </a>
    </aside>
    <app-footer></app-footer>
</div>